@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

body{
    background-color: #0d182c;
    font-family: 'Outfit', sans-serif;
}
.container{
   width: 375px;
   height: 580px;
   background: #15273f;
   border-radius: 20px;
   position: absolute;
}
.n{
    width: 335px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    top: 20px;
    left: 20px;
}
h2 , p{
    font-family: 'Outfit', sans-serif;
    color: #f6ffff;
    position: relative;
    top: 20px;
    left: 25px;
}
p{
    top: 15px;
    color: #899dc0;
}
.t{
    position: relative;
    top: 20px;
    left: 25px;
}
h5{
    color: #00f7f4;
    position: relative;
    top: -23px;
    left: 45px;
}
.clock{
   position: relative;
   top: -60px;
   left: 250px;
}
#ds{
    top: -99px;
    left: 275px;
}
hr{
    position: relative;
    top: -95px;
}
#avatar{
    position: relative;
    top:-80px;
    height: 35px;
    border: 1px solid white;
    border-radius: 100%;
    left: 30px;
}
#nameavatar{
    top: -130px;
    left: 90px;
    word-spacing: 2px;
}
span{
    color: white;
}